<div class="row">
    <div class="col-11">
        <h1 class="display-4">Funcionários</h1>
    </div>
    <div class="col-1">
        <a href="/funcionarios/cadastro_funcionario" class="btn btn-primary" role="button">
            <span class="material-icons">add</span>
        </a>
    </div>
</div>

<table class=" table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Data Nasc.</th>
            <th scope="col">Salário</th>
            <th scope="col">Status </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{ID}}</td>
            <td>{{NOME}}</td>
            <td>{{formataCPF CPF}}</td>
            <td>{{formataTelefone TELEFONE}}</td>
            <td>{{formataDataNsc DATA_NSC}}</td>
            <td>R$ {{SALARIO}}</td>
            {{#if STATUS}}
            <td style="font-size: 25px;">👍</td>
            {{else}}
            <td style="font-size: 25px;">👎</td>
            {{/if}}
        </tr>
        {{/each}}

    </tbody>
</table>